body {
    background-image: url(../images/memphis-colorful.png);
}

#add-emotion {
    margin: 10px;
    font-size: 15px;
    background-color: #bc8f8f;
    color: snow;
}

.emotion {
    margin: 25px 10px 10px 10px;
    color: #31698a;
    font-size: 18px;
}

label {
    margin: 25px;
    font-size: 20px;
}

h1 {
    font-size: 40px;
    font-family: roboto, sans-serif;
    margin: 25px;
}

h3 {
    font-size: 25px;
    font-style: italic;
    margin: 25px;
    color: #31698a;
}

.col-md-5 {
    margin-left: 15px;
    padding: 5px;
    align-content: center;
}